<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up AskChurashkina</title>


    <link href="../static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top simple-linear" style="background-color: #FF69B4;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">AskChurashkina</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search question..." aria-label="Search">
                    <button style="background: #FF00FF; border: 2px solid #800080; font-weight: bold;" type="button"
                            class="btn btn-light">Search
                    </button>
                </form>
                <button style="margin-left: 350px; padding-left: 100px; padding-right: 100px; background: #FF00FF; border: 2px solid #800080; font-weight: bold;"
                        type="button" class="btn btn-light">ASK!
                </button>

                <ul class="nav nav-pills" style="margin-left: 600px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="   #"
                           style="background: #FF00FF; border: 2px solid #800080; font-weight: bold; color: black">Log
                            in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#">Greate account</a>
                    </li>
                </ul>

    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-4" style="padding-top: 10px; width: 300px">
                <b style="padding-top: 10px;"><h1>Registration</h1></b>
            </div>
            <div class="col-6" style="padding-top: 10px; padding-left: 450px;">
                <b><h1 style="padding-top: 10px; padding-left: 280px; white-space: nowrap;">Popular tags</h1></b>
            </div>
        </div>


        <div class="row">
            <div class="col-8">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">First name</label>
                        <input type="text" class="form-control" id="validationDefault01" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="validationDefault02" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefaultUsername" class="form-label">Username</label>
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                   aria-describedby="inputGroupPrepend2" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationDefault03" class="form-label">City</label>
                        <input type="text" class="form-control" id="validationDefault03" required>
                    </div>

                    <div class="col-md-3">
                        <label for="validationDefault04" class="form-label">State</label>
                        <select class="form-select" id="validationDefault04" required>
                            <option selected disabled value="">Choose...</option>
                            <option>Russia</option>
                            <option>Italy</option>
                            <option>Spain</option>
                            <option>Japan</option>
                            <option>England</option>
                            <option>China</option>
                            <option>Poland</option>
                            <option>Mexiko</option>
                            <option>Brazil</option>
                            <option>Turkey</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Email adress</label>
                        <input type="text" class="form-control" id="validationDefault01" required>
                    </div>


                    <div class="col-md-4">
                        <label for="validationDefault01" class="form-label">Password</label>
                        <input type="text" class="form-control" id="validationDefault01" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationDefault02" class="form-label">Repeat password</label>
                        <input type="text" class="form-control" id="validationDefault02" required>
                    </div>


                    <label for="file-upload" class="custom-file-upload">
                        Download your foto
                    </label>
                    <input id="file-upload" type="file"/>


                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                                Agree to terms and conditions
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>
            </div>

            <div class="col-4" style="padding-left: 110px" ;>
                <div class="tags">

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href = "#">TechnoPark</a>
                            <span class="badge bg-primary rounded-pill">26</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href = "#">BMSTU</a>
                            <span class="badge bg-primary rounded-pill">15</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href = "#">Bootstrap</a>
                            <span class="badge bg-primary rounded-pill">11</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href = "#">Student</a>
                            <span class="badge bg-primary rounded-pill">9</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href = "#">Python</a>
                            <span class="badge bg-primary rounded-pill">7</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href = "#">Mail.ru Group</a>
                            <span class="badge bg-primary rounded-pill">1</span>
                        </li>

                    </ul>
                </div>


                <div class="list-group-1">
                    <b><h1 style="padding-top: 10px; padding-left: 30px; white-space: nowrap; padding-top: 30px;">Best
                        Members</h1></b>
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Annabelle Bennett</h5>
                            <small>1 days ago</small>
                        </div>
                        <p class="mb-1">BMSTU Student of Computer Science</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Florence Patterson</h5>
                            <small class="text-muted">2 days ago</small>
                        </div>
                        <p class="mb-1">BMSTU Student of Informatik</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Isabella Sanders</h5>
                            <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">BMSTU Student of Managment and Economic</p>
                    </a>
                </div>


            </div>


        </div>
    </div>
</main>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


</body>
</html>